<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    
</head>
<body>
    <div name = "navbar">

    </div>
    <div name = "header">
        <h1>Home Page</h1>
    </div>
    <div name = "table">
        <table id="my_table", style="width:80%">
            <tr>
                <th>Amount</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
            
        </table>
    </div>
    <script type="module">
        const {
            createPool
        } = require('mysql2');

        const pool = createPool({
            connectionLimit : 10,
            host: "localhost",
            user: "root",
            password: "Djq97hyy",
            database: "shoppinglist"
        })
        module.exports = pool;

        function get_item(id){
            pool.query(`SELECT item FROM items S WHERE S.itID = ?`, [id], (err, result) =>{
                if (err) {
                    return console.log(err);
                }
                console.log(result);
                return result;
            })
        }

        function get_price(id){
            pool.query(`SELECT price FROM items S WHERE S.itID = ?`, [id], (err, result) =>{
                if (err) {
                    return console.log(err);
                }
                console.log(result);
                return result;
            })
        }

        function get_ID(name) {
            pool.query(`SELECT itID FROM items S WHERE S.item = ?`, [name], (err, result) =>{
                if (err) {
                    return console.log(err);
                }
                console.log(result);
                return result;
            })
        }

        export function get_table_length() {
            pool.query(`SELECT * FROM items`, (err, result, fields) =>{
                if (err) {
                    return console.log(err);
                }
                console.log(result.length);
                return result.length; 
            })
        }
        //import { get_table_length } from './static/database.js';
        //var pool = require("./static/database.js")

        /* for (let i = 0; i < get_table_length(); i++) {
            var table = document.getElementById("my_table");

            var row = table.insertRow(1);

            var cellAmount = row.insertCell(0)
            var cellName = row.insertCell(1);
            var cellPrice = row.insertCell(2);

            cellAmount.innerHTML = "1";
            cellName.innerHTML = "banan";
            cellPrice.innerHTML = "4" + " kr";
        } */
    </script>
</body>
</html>