<!DOCTYPE html>
<html lang="en">
<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script type = "module">
        import {} from database.js;
    </script>
</head>
<body>
    <div name = "navbar">

    </div>
    <div name = "header">
        <h1>Home Page</h1>
    </div>
    <div name = "table">
        <table style="width:80%">
            <tr>
                <th>Amount</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
            
        </table>
    </div>
</body>
</html>